<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListLibraryServlet</servlet-name>
        <servlet-class>com.music.view.ListLibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMusicServlet</servlet-name>
        <servlet-class>AddMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMusicServlet</servlet-name>
        <servlet-class>ListMusicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMusicServlet</servlet-name>
        <servlet-class>EditMusicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLibraryServlet</servlet-name>
        <url-pattern>/list_library.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMusicServlet</servlet-name>
        <url-pattern>/AddMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMusicServlet</servlet-name>
        <url-pattern>/ListMusicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMusicServlet</servlet-name>
        <url-pattern>/EditMusicServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
